<!DOCTYPE html>
<html lang="pl">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>MotoSell</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
    {% if uzytkownik.is_authenticated %}
        <h1>zalogowany jako {{ uzytkownik.username }}</h1>
        <a href="{% url 'wyloguj' %}"><button>Wyloguj się</button></a>
        <a href="{% url 'kreator' %}">Stwórz nową ofertę</a>
        <a href="{% url 'pojazdy' %}">Pokaż wszystkie opublikowane oferty</a>
        <br><a href="{% url 'moje_pojazdy' %}">Zobacz swoje oferty</a>
    {% else %}
        <h1>niezalogowany</h1>
        <br><a href="{% url 'rejestracja' %}">Zarejestruj się</a>
        <br><a href="{% url 'login' %}">Zaloguj się</a>
        <br><a href="{% url 'pojazdy' %}">Pokaż oferty</a>
    {% endif %}
    </body>
</html>
