{% extends "MotoSell/base.html" %}
{% block content %}
	<h1>Twoje oferty:</h1>
    {% if not pojazdy_wszystkie  %}
        <h1>Nie ma żadnych pojazdów</h1>
    {% else %}
        {% for pojazd in pojazdy_wszystkie %}
            {% if pojazd.uzytkownik == request.user and not pojazd.czy_usuniety %}
                <div class="oferta">
                    <a href="{% url 'pojazdy' %}/{{ pojazd.id }}">
                        <div class="oferta_napisy">
                            <h3>{{ pojazd.tytul }}</h3>
                            <p>Oferta użytkownika: {{ pojazd.uzytkownik.username }}</p>
                            <p>Marka i model: {{ pojazd.marka }} {{ pojazd.model }}</p>
                            <p>Kategoria: {{ pojazd.kategoria }}</p>
                            {% if pojazd.czy_opublikowany %}
                                <p>Oferta opublikowana</p>
                            {% else %}
                                <p>Oferta nieopublikowana</p>
                            {% endif %}
                        </div>
                        {% for zdjecie in pojazd.zdjecie_set.all %}
                            {% if zdjecie.czy_glowny %}
                                <div class="zdjecie_okladka">
                                    <img src="{{ zdjecie.zdjecie.url }}" alt="Zdjęcie pojazdu">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}