<!DOCTYPE html>
<html lang="pl">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>MotoSell</title>
    </head>
    <body>
        <h1>{{ pojazd.tytul }}</h1>
        <p>Opis: {{ pojazd.opis }}</p>
        <p>Oferta użytkownika: {{ pojazd.uzytkownik.username }}</p>
        <p>Kategoria: {{ pojazd.kategoria }}</p>
        <p>Marka: {{ pojazd.marka }}</p>
        <p>Model: {{ pojazd.model }}</p>
        <p>Rok produkcji: {{ pojazd.rok_produkcji }}</p>
        <p>Przebieg: {{ pojazd.przebieg }}</p>
        <p>Pojemność skokowa: {{ pojazd.pojemnosc_skokowa }}</p>
        <p>Rodzaj paliwa: {{ pojazd.rodzaj_paliwa }}</p>
        <p>Zdjęcia pojazdu:</p>
        {% for pivot in pojazd.pivot_set.all %}
            <img src="{{ pivot.zdjecie.zdjecie.url }}" alt="zdjęcie pojazdu" height="200px">
        {% endfor %}
        {% if pojazd.czy_opublikowany %}
            <p>Oferta opublikowana w dniu {{ pojazd.data_publikacji }}</p>
            {% if pojazd.uzytkownik == request.user %}
                <a href="{% url 'cofnij_publikacje' pojazd.id %}"><button>Cofnij publikację</button></a>
            {% endif %}
        {% else %}
            <p>Oferta nieopublikowana</p>
            {% if pojazd.uzytkownik == request.user %}
                <a href="{% url 'publikuj' pojazd.id %}"><button>Publikuj</button></a>
            {% endif %}
        {% endif %}
        {% if pojazd.uzytkownik == request.user %}
            <a href="{% url 'usun' pojazd.id %}"><button>Usuń</button></a>
            <a href="{% url 'edytuj' pojazd.id %}"><button>Edytuj</button></a>
        {% endif %}
        <br><a href="{% url 'index' %}">Powrót na stronę główną</a>
        <br><a href="{% url 'pojazdy' %}">Zobacz wszystkie oferty</a>
        <br><a href="{% url 'moje_pojazdy' %}">Zobacz swoje oferty</a>
    </body>
</html>
