{% extends "MotoSell/base.html" %}
{% block content %}
    <h1>MotoSell</h1>
    <h3>Oferty Sprzedaży pojazdów drogowych</h3>
	{% if not pojazdy_wszystkie  %}
        <h1>Nie ma żadnych pojazdów</h1>
    {% else %}
        {% for pojazd in pojazdy_wszystkie %}
            {% if pojazd.czy_opublikowany and not pojazd.czy_usuniety %}
                <div class="oferta">
                    <a href="{% url 'pojazdy' %}/{{ pojazd.id }}">
                        <h3>{{ pojazd.tytul }}</h3>
                        <p>Oferta użytkownika: {{ pojazd.uzytkownik.username }}</p>
                        <p>{{ pojazd.marka }} {{ pojazd.model }}</p>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}