<!DOCTYPE html>
<html lang="pl">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>MotoSell</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <h2>Zarejestruj się</h2>
            {{ formularz_rejestracji }}
            <button type="submit">Zarejestruj się</button>
        </form>
        <br><a href="{% url 'login' %}">Masz już konto? Zaloguj się</a>
        <br><a href="{% url 'index' %}">Powrót na stronę główną</a>
    </body>
</html>
