<!DOCTYPE html>
<html lang="pl">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>MotoSell</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="nav">
            {% if request.user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'pojazdy' %}">MotoSell</a></li>
                    <li><a href="{% url 'kreator' %}">Stwórz nową ofertę</a></li>
                    <li><a href="{% url 'pojazdy' %}">Pokaż wszystkie opublikowane oferty</a></li>
                    <li><a href="{% url 'moje_pojazdy' %}">Zobacz swoje oferty</a></li>
                    <li><span>zalogowany jako: {{ request.user.username }}</span></li>
                    <li><a href="{% url 'wyloguj' %}">Wyloguj się</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'pojazdy' %}">MotoSell</a></li>
                    <li><a href="{% url 'pojazdy' %}">Pokaż oferty</a></li>
                    <li><a href="{% url 'rejestracja' %}">Zarejestruj się</a></li>
                    <li><a href="{% url 'login' %}">Zaloguj się</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="glowne">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
