{% extends "MotoSell/base.html" %}
{% block content %}
	<h1>{{ pojazd.tytul }}</h1>
    <p>Opis: {{ pojazd.opis }}</p>
    <p>Oferta użytkownika: {{ pojazd.uzytkownik.username }}</p>
    <p>Kategoria: {{ pojazd.kategoria }}</p>
    <p>Marka: {{ pojazd.marka }}</p>
    <p>Model: {{ pojazd.model }}</p>
    <p>Rok produkcji: {{ pojazd.rok_produkcji }}</p>
    <p>Przebieg: {{ pojazd.przebieg }}</p>
    <p>Pojemność skokowa: {{ pojazd.pojemnosc_skokowa }}</p>
    <p>Rodzaj paliwa: {{ pojazd.rodzaj_paliwa }}</p>
    <p>Zdjęcia pojazdu:</p>
    {% for zdjecie in pojazd.zdjecie_set.all %}
        <img src="{{ zdjecie.zdjecie.url }}" alt="zdjęcie pojazdu" height="200px">
    {% endfor %}
    {% if pojazd.czy_opublikowany %}
        <p>Oferta opublikowana w dniu {{ pojazd.data_publikacji }}</p>
        {% if pojazd.uzytkownik == request.user %}
            <a href="{% url 'cofnij_publikacje' pojazd.id %}"><button>Cofnij publikację</button></a>
        {% endif %}
    {% else %}
        <p>Oferta nieopublikowana</p>
        {% if pojazd.uzytkownik == request.user %}
            <a href="{% url 'publikuj' pojazd.id %}"><button>Publikuj</button></a>
        {% endif %}
    {% endif %}
    {% if pojazd.uzytkownik == request.user %}
        <a href="{% url 'usun' pojazd.id %}"><button>Usuń</button></a>
        <a href="{% url 'edytuj' pojazd.id %}"><button>Edytuj</button></a>
    {% endif %}
{% endblock %}